# Дебаг режим Django
DEBUG=True

# Параметры Postgres
POSTGRES_USER=django_user
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=django
DB_HOST=db
DB_PORT=5432

# Секретный ключ Django
SECRET_KEY=Super_secret_key
# Количество записей на странице
COUNT_PER_PAGE=50
# Ключ для шифрования паролей сервисов, генерируется python manage.py generate_key
ENCRYPTION_KEY=

# Супер-админ Django
ADMIN_USER=admin
ADMIN_PASSWORD=admin
ADMIN_EMAIL=admin@admin.ru


# Параметры для чтения AD
AD_USER=user
AD_PASSWORD=1234
AD_HOST=192.168.1.1
AD_DOMAIN=COMPANY
AD_SEARCH_BASE='OU=users,OU=company,DC=company,DC=local'
AD_SEARCH_FILTER='(objectClass=user)'


# Параметры для чтения VPN
# При использовании HTTPS необходимо указать dns имя как в сертификате
VPN_HOST=mikrotik.yourdomen.org
VPN_USER=inventory
VPN_PASSWORD=123123
# True - подключение по HTTPS, False - подключение по HTTP, по умолчанию False
VPN_USE_SSL=True
# Если используете самоподписной сертификат укажите False, по умолчанию True
VPN_SSL_VERIFY=True
VPN_SSL_VERIFY_HOSTNAME=True
# True - отключает учетную запись VPN если связная запись AD была заблокировна, по умолчанию False
VPN_NEED_DISABLE_USERS=False


# Параметры для чтения Radius
# Пример указания RADIUS_HOST в зависимости от используемого протокола (HTTP, HTTPS)
# http://inventory.yourdomen.org:5985/wsman
# https://inventory.yourdomen.org:5986/wsman
RADIUS_HOST=https://inventory.yourdomen.org:5986/wsman
RADIUS_USER=inventory
RADIUS_PASSWORD=123123
# Если используете самоподписной сертификат укажите 'ignore', по умолчанию 'validate'
RADIUS_SERVER_CERT_VALIDATION=validate
RADIUS_SCRIPT='$groupMembers=(Get-LocalGroupMember radius).SID.value; $users=Get-WmiObject Win32_UserAccount | Where-Object { $groupMembers -contains $_.SID } | Select-Object Name, FullName, Disabled | ConvertTo-Json -Compress; $users'
# True - отключает учетную запись Radius если связная запись AD была заблокировна, по умолчанию False
RADIUS_NEED_DISABLE_USERS=False


# Заполняется если используете самоподписной сертификат
# Корневой сертификат для самоподписных сертификатов
# Ищет по указаному имени в каталоге с проектом
ROOT_CA_CERT=RootCA.pem
# Промежуточный сертификат
INTERMEDIATE_CERT=Intermediate.pem
