# Дебаг режим Django
DEBUG=True

# Параметры Postgres
POSTGRES_USER=django_user
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=django
DB_HOST=db
DB_PORT=5432

# Секретный ключ Django
SECRET_KEY=Super_secret_key

# Супер-админ Django
ADMIN_USER=admin
ADMIN_PASSWORD=admin
ADMIN_EMAIL=admin@admin.ru

# Параметры для чтения AD
AD_USER=user
AD_PASSWORD=1234
AD_HOST=192.168.1.1
AD_DOMAIN=COMPANY
AD_SEARCH_BASE='OU=users,OU=company,DC=company,DC=local'
AD_SEARCH_FILTER='(objectClass=user)'

# Параметры для чтения VPN
VPN_HOST=192.168.1.1
VPN_USER=inventory
VPN_PASSWORD=123123

# Параметры для чтения Radius
RADIUS_HOST=192.168.1.1
RADIUS_USER=inventory
RADIUS_PASSWORD=123123
RADIUS_SCRIPT="\$groupMembers=(Get-LocalGroupMember radius).SID.value; \$users=Get-WmiObject Win32_UserAccount | Where-Object { \$groupMembers -contains \$_.SID } | Select-Object Name, FullName, Disabled | ConvertTo-Json -Compress; \$users"
