<!-- templates/reports.html -->

{% extends 'base.html' %}
{% block title %}
  Общая статистика
{% endblock %}
{% block content %}
  <div class="container">
    <div class="text-center"><h4>Общая статистика</h4></div>
    <div class="row">
      <div class="col">
        <table class="table table-bordered table-sm border-secondary">
          <tr>
            <th>#</th>
            <th>Количество</th>
          </tr>
          <tr>
            <td>Всего</td>
            <td>{{ comps_count }}</td>
          </tr>
          {% for item, count in count_by_os_arch %}
            {% if not item == 'total' %}
              <tr>
                <td>
                  {% with request.GET.department as department %}
                    <a
                      href="{% url 'comps:comps_by_item' item_type='os_arch' %}?item={{ item }}&department={{ department }}"
                    >{{ item }}</a>
                  {% endwith %}
                </td>
                <td>{{ count }}</td>
              </tr>
            {% endif %}
          {% endfor %}
          {% for item, count in count_by_win_ver %}
            {% if not item == 'total' %}
              <tr>
                <td>
                  {% with request.GET.department as department %}
                    <a
                      href="{% url 'comps:comps_by_item' item_type='win_ver' %}?item={{ item }}&department={{ department }}"
                    >{{ item }}</a>
                  {% endwith %}
                </td>
                <td>
                  {{ count }}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      </div>
      <div class="col">
        {% include 'includes/filter_department.html' %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <table class="table table-striped table-bordered table-sm">
            <tr>
              <th>Материнские платы</th>
              <th>Количество</th>
            </tr>
            {% for item, count in count_by_motherboard %}
            <tr>
              <td>
                {% if item == 'total' %}
                  <b>Всего</b>
                {% else %}
                  {% with request.GET.department as department %}
                    <a
                      href="{% url 'comps:comps_by_item' item_type='motherboard' %}?item={{ item }}&department={{ department }}"
                    >{{ item }}</a>
                  {% endwith %}
                {% endif %}
              </td>
              <td>{{ count }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-striped table-bordered table-sm">
            <tr>
              <th>Оперативная память</th>
              <th>Количество</th>
            </tr>
            {% for item, count in count_by_rams %}
            <tr>
              <td>
                {% if item == 'total' %}
                  <b>Всего</b>
                {% else %}
                  {% with request.GET.department as department %}
                    <a
                      href="{% url 'comps:comps_by_item' item_type='rams' %}?item={{ item }}&department={{ department }}"
                    >{{ item }}</a>
                  {% endwith %}
                {% endif %}
              </td>
              <td>{{ count }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <table class="table table-striped table-bordered table-sm">
            <tr>
              <th>Процессоры</th>
              <th>Количество</th>
            </tr>
            {% for item, count in count_by_cpu %}
            <tr>
              <td>
                {% if item == 'total' %}
                  <b>Всего</b>
                {% else %}
                  {% with request.GET.department as department %}
                    <a
                      href="{% url 'comps:comps_by_item' item_type='cpu' %}?item={{ item }}&department={{ department }}"
                    >{{ item }}</a>
                  {% endwith %}
                {% endif %}
              </td>
              <td>{{ count }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col`">
          <table class="table table-striped table-bordered table-sm">
            <tr>
              <th>Мониторы</th>
              <th>Количество</th>
            </tr>
            {% for item, count in count_by_monitors %}
            <tr>
              <td>
                {% if item == 'total' %}
                  <b>Всего</b>
                {% else %}
                  {% with request.GET.department as department %}
                    <a
                      href="{% url 'comps:comps_by_item' item_type='monitors' %}?item={{ item }}&department={{ department }}"
                    >{{ item }}</a>
                  {% endwith %}
                {% endif %}
              </td>
              <td>{{ count }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="col">
      <table class="table table-striped table-bordered table-sm">
        <tr>
          <th>Диски</th>
          <th>Количество</th>
        </tr>
        {% for item, count in count_by_disks %}
        <tr>
          <td>
            {% if item == 'total' %}
              <b>Всего</b>
            {% else %}
              {% with request.GET.department as department %}
                <a
                  href="{% url 'comps:comps_by_item' item_type='disk' %}?item={{ item }}&department={{ department }}"
                >{{ item }}</a>
              {% endwith %}
            {% endif %}
          </td>
          <td>{{ count }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
