<!-- templates/users/includes/table_users_report.html -->

<table class="table table-striped table-bordered table-sm border-secondary">
  <thead>
    <tr style="text-align: center">
    <th>Сервис</th>
    <th colspan="2">Активна &#9989;</th>
    <th colspan="2">Неактивна &#10060;</th>
    <th colspan="2">Всего</th>
    </tr>
  </thead>
  <tbody>
    <tr style="text-align: center">
    <td style="text-align: left">Active Directory</td>
    <td colspan="2" class="{% if request.GET.status == 'active' %}bold-text{% endif %}">
        {{ ad_users_statuses.active }}
    </td>
    <td colspan="2" class="{% if request.GET.status == 'inactive' %}bold-text{% endif %}">
        {{ ad_users_statuses.inactive }}
    </td>
    <td colspan="2">{{ ad_users_statuses.total }}</td>
    </tr>
    <tr>
    <td></td>
    <td colspan="6" style="font-size: 12px;">
        * Привязанные / непривязанные
    </td>
    </tr>
    <tr style="text-align: center">
    <td style="text-align: left">Wi-Fi</td>
    <td class="{% if request.GET.rdlogin == 'active' %}bold-text{% endif %}">
        {{ radius_users_statuses.active }}
    </td>
    <td>{{ unrelated_radius_users_statuses.active }}</td>
    <td class="{% if request.GET.rdlogin == 'inactive' %}bold-text{% endif %}">
        {{ radius_users_statuses.inactive }}
    </td>
    <td>{{ unrelated_radius_users_statuses.inactive }}</td>
    <td>{{ radius_users_statuses.total }}</td>
    <td>{{ unrelated_radius_users_statuses.total }}</td>
    </tr>
    <tr style="text-align: center">
    <td style="text-align: left">VPN</td>
    <td class="{% if request.GET.vpn == 'active' %}bold-text{% endif %}">
        {{ vpn_users_statuses.active }}
    </td>
    <td>{{ unrelated_vpn_users_statuses.active }}</td>
    <td class="{% if request.GET.vpn == 'inactive' %}bold-text{% endif %}">
        {{ vpn_users_statuses.inactive }}
    </td>
    <td>{{ unrelated_vpn_users_statuses.inactive }}</td>
    <td>{{ vpn_users_statuses.total }}</td>
    <td>{{ unrelated_vpn_users_statuses.total }}</td>
    </tr>
  </tbody>
</table>