<!-- templates/users/includes/table_users.html -->

<table class="table table-striped table-hover">
  <tr>
    <th>ФИО</th>
    <th>Логин</th>
    <th>Email</th>
    <form action="{% url 'users:users_main' %}" method="get">
      <th>Статус
        <button class="btn btn-sm btn-outline-secondary" type="submit" name="status" value="active">&#9989;</button>
        <button class="btn btn-sm btn-outline-secondary" type="submit" name="status" value="inactive">&#10060;</button>
      </th>
      <th>Логин Wi-Fi
        <button class="btn btn-sm btn-outline-secondary" type="submit" name="rdlogin" value="active">&#9989;</button>
        <button class="btn btn-sm btn-outline-secondary" type="submit" name="rdlogin" value="inactive">&#10060;</button>
      </th>
      <th>Логин VPN
        <button class="btn btn-sm btn-outline-secondary" type="submit" name="vpn" value="active">&#9989;</button>
        <button class="btn btn-sm btn-outline-secondary" type="submit" name="vpn" value="inactive">&#10060;</button>
      </th>
      <th>Гигротермон</th>
    </form>
  </tr>
  {% for user in page_obj %}
    <tr data-user-id="{{ user.id }}">
      <td>{{ user.fio }}</td>
      <td>{{ user.login }}</td>
      <td>{% if user.email %}{{ user.email }}{% endif %}</td>
      <td>
        {% if user.status == 'active' %}
          <span>&#9989;</span>
        {% else %}
          <span>&#10060;</span>
        {% endif %}
      </td>
      <td class="editable-field">
        <button class="btn btn-sm edit-rdlogin-btn">&#128221;</button>
        <button class="btn btn-sm delete-rdlogin-btn">&#128465;</button>
        <button class="btn btn-sm save-rdlogin-btn" style="display: none;">&#128190;</button>
        <button class="btn btn-sm cancel-rdlogin-btn" style="display: none;">&#10006;</button>
        <span class="current-value rdlogin-value">
          {{ user.rdlogin|default_if_none:"-" }}
          {% if user.rdlogin.status == 'active' %}
            <span>&#9989;</span>
          {% elif user.rdlogin.status == 'inactive'  %}
            <span>&#10060;</span>
          {% endif %}
        </span>
        <select name="rdlogin" class="form-control edit-select" style="display: none;"></select>
      </td>
      <td class="editable-field">
        <button class="btn btn-sm edit-vpn-btn">&#128221;</button>
        <button class="btn btn-sm delete-vpn-btn">&#128465;</button>
        <button class="btn btn-sm save-vpn-btn" style="display: none;">&#128190;</button>
        <button class="btn btn-sm cancel-vpn-btn" style="display: none;">&#10006;</button>
        <span class="current-value vpn-value">
          {{ user.vpn|default_if_none:"-" }}
          {% if user.vpn.status == 'active' %}
            <span>&#9989;</span>
          {% elif user.vpn.status == 'inactive'  %}
            <span>&#10060;</span>
          {% endif %}
        </span>
        <select name="vpn" class="form-control edit-select" style="display: none;"></select>
      </td>
      <td>
        {% for gigro_user in user.gigro.all %}
          {{ gigro_user.login }}-{{ gigro_user.db }}
          {% if gigro_user.status == 'active' %}
            <span>&#9989;</span>
          {% elif gigro_user.status == 'inactive'  %}
            <span>&#10060;</span>
          {% endif %}<br>
          {% empty %}
              -
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
</table>
