<!-- templates/includes/header.html -->

<nav class="navbar navbar-light" style="background-color: lightskyblue">
  <div class="container">
    <a class="navbar-brand" href="{% url 'comps:index' %}">
      {% load static %}
      <img
        src="{% static 'img/logo.png' %}"
        width="60"
        height="30"
        class="d-inline-block align-top"
        alt="">
      Company Inventory
    </a>
    <ul class="nav nav-pills">
      {% with request.resolver_match.view_name as view_name %}
        <li>
          <a class="nav-link {% if view_name  == 'comps:index' %}active{% endif %}"
            href="{% url 'comps:index' %}"
          >
            Главная
          </a>
        </li>
      {% endwith %}
      {% with request.resolver_match.view_name as view_name %}
        <li> 
          <a class="nav-link {% if view_name  == 'comps:departments' %}active{% endif %}"
            href="{% url 'comps:departments' %}"
          >
            Департаменты
          </a>
        </li>
      {% endwith %}
      {% with request.resolver_match.view_name as view_name %}
        <li> 
          <a class="nav-link {% if view_name  == 'comps:vms' %}active{% endif %}"
            href="{% url 'comps:vms' %}"
          >
            Гипервизоры
          </a>
        </li>
      {% endwith %}
      {% with request.resolver_match.view_name as view_name %}
        <li>
          <a class="nav-link 
            {% if view_name == 'users:users_main' or view_name == 'users:users_radius' or view_name == 'users:users_vpn' or view_name == 'users:users_gigro' %}
              active
            {% endif %}"
            href="{% url 'users:users_main' %}"
          >
            Учетные записи
          </a>
        </li>
      {% endwith %}
      {% with request.resolver_match.view_name as view_name %}
        <li> 
          <a class="nav-link {% if view_name  == 'comps:reports' %}active{% endif %}"
            href="{% url 'comps:reports' %}"
          >
            Отчеты
          </a>
        </li>
      {% endwith %}
    </ul>
  </div>
  <div class="mx-auto">
    {% if user.is_authenticated %}
      <small>{{ user.get_full_name }}: {{ user.username }}</small>
      <a class="btn btn-outline-secondary" href="{% url 'users:logout' %}">Выйти</a>
    {% endif %}
  </div>
</nav>